/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container {
  display: flex;
  flex-direction: column-reverse;
}

.exercice-baseline-2 .container .element-yellow .element-med {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* 4. exercice-flow-1 */
.exercice-flow-1 .container {
  display: flex;
  flex-flow: row wrap;
}

/* 5. exercice-flow-2 */
.exercice-flow-2 .container {
  display: flex;
  flex-flow: row wrap;
}

/* 6. exercice-all-in-1 */

/* 7. exercice-all-in-2 */
